<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="app">
        <h1>To do list</h1>
        <p class="intro">Need to remind you some things to do today ? Take some time to write then.</p>
        <p class="tasks" v-for="task in tasks">{{ task }}</p>
        <input type="text" v-model="task" autocomplete="off" />
        <button @click="tasks.push(task)">Add task</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',

            data: {
                task: '',
                tasks: []
            }
        });
    </script>
</body>
</html>